@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: monospace;
  font-size: 16px;
  background-image: radial-gradient(ellipse farthest-corner at -40% 45%, rgb(59 59 59 / 85%), hsl(242deg 10.48% 30.78%), rgb(35 35 35 / 93%)), linear-gradient(97deg, rgb(64 73 193 / 90%) 0%, rgb(10 15 35 / 90%) 5%);
  font-family: monospace !important;
  margin: 0;
  min-height: 100vh;
}

input, textarea, select {
  font-family: monospace !important;
  border: 1px solid #ffffff38;
  background-color: #ffffff0c;
  padding: 8px 16px;
}

.button {
  font-family: monospace !important;
  border: 1px solid #ffffff38;
  background-color: #ffffff0c;
  padding: 8px 16px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #ffffff14;
  cursor: pointer;
}